.end-sub-cards{
  background-color: white;
  color: black;
  width: 25%;
  height: 33%;
  margin: 20px;
  text-align: center;
  padding: 20px;
  font-size: 25px;
}
.end-card{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  background-color: #193460
}
.cover-slide-content{
  height: 50vh;
  display: flex;
  flex-direction: row;
}

.card{
  margin: 20px;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 25px;
}